{% extends "base.html" %}
{% load static %}

{% block title %}Error 404{% endblock %}

{% block content %}

<div class="page">
  <main class="main-section"  style="text-align: center">
    <div class="content-section">Error 404

      <div>Page Not Found</div>

      <div>
        <div class="error404">404 - Page Not Found</div>
        <div>Sorry, the page you are looking for does not exist.</div>
        <a href="/" class="go-home">Go Back to Homepage</a>
      </div>

    </div>
  </main>
</div>


{% endblock %}
